@font-face {
  font-family: 'iconfont';  /* Project id 3252739 */
  src: url('//at.alicdn.com/t/font_3252739_r8eqnbn1dr.woff2?t=1653727690564') format('woff2'),
       url('//at.alicdn.com/t/font_3252739_r8eqnbn1dr.woff?t=1653727690564') format('woff'),
       url('//at.alicdn.com/t/font_3252739_r8eqnbn1dr.ttf?t=1653727690564') format('truetype'),
       url('//at.alicdn.com/t/font_3252739_r8eqnbn1dr.svg?t=1653727690564#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

